@model IEnumerable<WebApplicationTireFitting.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Замовлення</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Створити замовлення</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Дата")
            </th>
            <th>
                @Html.DisplayName("Вартість")
            </th>
            <th>
                @Html.DisplayName("Транспорт")
            </th>
            <th>
                @Html.DisplayName("Клієнт")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrder" class="btn btn-outline-primary">Редагувати</a>
                <a asp-action="Details" asp-route-id="@item.IdOrder" class="btn btn-outline-secondary">Детальніше</a>
                <a asp-action="Delete" asp-route-id="@item.IdOrder" class="btn btn-outline-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
