@model IEnumerable<WebApplicationTireFitting.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Послуги</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Додати послугу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Назва")
            </th>
            <th>
                @Html.DisplayName("Вартість")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdService" class="btn btn-outline-primary">Редагувати</a>
                <a asp-action="Details" asp-route-id="@item.IdService" class="btn btn-outline-secondary">Детальніше</a>
                <a asp-action="Delete" asp-route-id="@item.IdService" class="btn btn-outline-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
