@model IEnumerable<WebApplicationTireFitting.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Клієнти</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Додати клієнта</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ПІБ")
            </th>
            <th>
                @Html.DisplayName("Номер телефону")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdClient" class="btn btn-outline-primary">Редагувати</a>
                <a asp-action="Details" asp-route-id="@item.IdClient" class="btn btn-outline-secondary">Детальніше</a>
                <a asp-action="Delete" asp-route-id="@item.IdClient" class="btn btn-outline-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
