@model IEnumerable<WebApplicationTireFitting.Models.Position>

@{
    ViewData["Title"] = "Index";
}

<h1>Посади</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Додати посаду</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPosition" class="btn btn-outline-primary">Редагувати</a>
                @*<a asp-action="Details" asp-route-id="@item.IdPosition">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdPosition" class="btn btn-outline-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
