@model IEnumerable<WebApplicationTireFitting.Models.TypeOfCar>

@{
    ViewData["Title"] = "Index";
}

<h1>Види транспорту</h1>

<p>
    <a asp-action="Create"  class="btn btn-outline-secondary">Додати вид транспорту</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Назва")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCar1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTypeOfCar"  class="btn btn-outline-primary">Редагувати</a>
                @*<a asp-action="Details" asp-route-id="@item.IdTypeOfCar"  class="btn btn-outline-secondary">Детальніше</a>*@
                <a asp-action="Delete" asp-route-id="@item.IdTypeOfCar"  class="btn btn-outline-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
